@using System.Web.UI.WebControls
@model List<ProfileSample.Models.ImageModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var img in Model)
    {
        <img src="@Url.Action("Image","Home", new { id = img.Id })"
             alt="@img.Name"
             class="img-responsive" />
        <p>@img.Name</p>
    }
</div>
